*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1{
    text-decoration: underline;
    text-transform: capitalize;
    margin-bottom: 10px;
    text-align: center;
}
.grid-2{
 width: 30%;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.grid-2 div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}